@import '../variables';

$logo-color: lighten($dark, 20%);
$font-color: lighten($dark, 40%);

footer{
	min-height: 200px;
	background-color: lighten($dark, 3%);
	padding-top: 100px;
	padding-bottom: 30px;
}
footer nav{
	padding: 3rem 0;
	width: fit-content;
}
.logo{
	font-family: 'Bebasneue';
	font-size: 2.2rem;
	color: $logo-color;
}
footer nav h6{
	margin: 0;
	font-size: 1rem;
	color: $font-color;
}
.mail{
	padding-bottom: 0.5rem;
}
.mail a{
	color: $font-color;
}
.mail a:hover{
	color: $primary;
	text-decoration: none;
}
.coded{
	font-weight: 100;
	font-size: 1.2rem;
}


@media (max-width: 560px) {



}

@media (max-width: 460px) {


}

@media (max-width: 400px) {

	.logo{
		font-size: 2rem;
	}
	.mail a{
		font-size: 1rem;
	}
	.coded{
		font-size: 1rem;
	}

}

@media (max-width: 330px) {

	.coded{
		font-size: 0.93rem;
	}

}