//Custom Bootstrap settings
@import "custom_bootstrap";

// Required

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Basically required
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";


// Extract Bootstrap theme colors for easier var names
$dark: theme-color("dark");
$primary: theme-color("primary");
$off-white: theme-color("off-white");
$light: theme-color("light");
$dark-grey: theme-color("dark-grey");


// All page css
@import "home";
@import "EPK";


/* global standards */

button { cursor: pointer; }

body {
	margin: 0;
	padding: 0;
}

