//Custom Bootstrap settings
@import "custom_bootstrap";

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Basically required
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

//additional functionality
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/modal";


// Bebasnue font
@font-face {
  font-family: 'Bebasneue';
  src: url("../assets/fonts/BebasNeue Regular.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Bellaboo';
  src: url("../assets/fonts/Bellaboo.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

// Extract Bootstrap theme colors for easier var names
$dark: theme-color("dark");
$primary: theme-color("primary");
$secondary: theme-color("secondary");
$off-white: theme-color("off-white");
$light: theme-color("light");
$dark-grey: theme-color("dark-grey");


// All page css
@import "EPK";
@import "home";



/* global standards */

button { cursor: pointer; }
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
}


$title-padding: 20px;
$title-margin: calc(#{$title-padding} * 2);


.title {
	width: fit-content;
	margin-bottom: $title-margin;
}
.title h2{
	font-weight: 600;
}
.title::after {
	content: '';
	display: block;

	margin-top: $title-padding;
	width: 100%;
	height: 3px;
	border-radius: 1px;
	background-color: $primary;
}

/* FOOTER */

footer{
	min-height: 200px;
}
footer nav{
	padding: 3rem;
	width: fit-content;
}
footer nav h6{
	margin: 0;
	font-size: 1rem;
	color: lighten($dark, 10%);
}
footer nav h6 a{
	color: lighten($dark, 10%);
}
footer nav span{
	width: 6px;
	height: 6px;
	border-radius: 20px;
	margin: 0 10px; 
	background-color: lighten($dark, 20%);
}

.indent{
	padding-left: 6.5rem;
}
.Bebas{
	font-family: 'BebasNeue';
	font-size: ($font-size-base * 1.2);
}